footer{
  position: fixed;
	display: flex;
	justify-content: space-between;
  height: 50px;
	background: linear-gradient(45deg, blue, red);
  bottom: 0;
  left: 0;
}

.made{
	text-align: center;
}

.social-footer{
	padding-top: 7px;
	width: 100%;
}

.social-footer-icons{
	float: right;
  text-align: center;
  align-items: center;
	padding-top: 7px;
}

.social-footer-icons ul li{
  padding-left: 10px;
}

ul{
  margin: 0px;
  padding-left: 0px;
}

.menu{
  margin-top: 10px;
}
