footer{
  position: fixed;
  height: 50px;
  background-color: #fff;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}


.social-footer-icons{
  text-align: center;
  align-items: center;
}

.social-footer-icons ul li{
  padding-left: 10px;
}

ul{
  margin: 0px;
  padding-left: 0px;
}

.menu{
  margin-top: 10px;
}
