.title{
}

.navbar{
  display: flex;
  justify-content: space-between;

}

.img_logo{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding-right: 5px;
  padding-top: 5px;
}

.navbar p{
  text-align: center;
  font-size: 20px;
  font-family: 'Do Hyeon', sans-serif;
  color: #fff;
}

.menu{
  align-items:center;
  display: flex;
  list-style: none;
}

.menu li{
  padding-right: 20px;
}

/**/

li {
  color: #fff;
  display: block;
  padding: 10px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
}

li a {
  color: #fff;
}



ul li ul {
  background: rgba(222,69,3,1);
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 10px;
  width: 120px;
  left: 0;
  display: none;
  text-align: center;
  padding-left: 0px;
}

ul li ul li a{
  text-decoration: none;
}

ul li:hover > ul,
ul li:focus-within > ul, /* this is the line we add */
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
}
