/* --- Import Google Fonts stylesheets --- */
@import url("http://fonts.googleapis.com/ css?family=Open+Sans:400,300,700|Montserrat:400,700");
/* --- Import Components stylesheets --- */
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/navbar.css");
@import url("components/tabs.css");

/* --- Fonts --- */
body {
font-family: "Open Sans", "Helvetica", "sans-serif"; }
h1, h2, h3 {
font-family: "Montserrat", "sans-serif";
}

/* --- Header --- */
header{
  display: flex;
  justify-content: space-between; /* aligne horizontalement */
  align-items: center; /*aligne verticalement */
  border: 1px solid rgba(173,177,199,1);
  border-radius: 3px;
  height: 110px;
  padding: 10px 30px;
  background-color: rgba(136,183,237,1);
}


/* --- Main Section --- */
.container {

}
