/* --- Import Google Fonts stylesheets --- */
@import url("http://fonts.googleapis.com/ css?family=Open+Sans:400,300,700|Montserrat:400,700");
/* --- Import Components stylesheets --- */
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/footer.css");
@import url("components/navbar.css");
@import url("components/tabs.css");

/* --- Fonts --- */
body {
  margin: 0px;
  font-family: "Open Sans", "Helvetica", "sans-serif"; }
  h1, h2, h3 {
  font-family: "Montserrat", "sans-serif";

}


/* --- Header --- */
header{
  display: flex;
  justify-content: space-between; /* aligne horizontalement */
  align-items: center; /*aligne verticalement */
  height: 100px;
  padding: 10px 30px;
  background-color: black;
}


/* --- Main Section --- */
.banner {
  position: relative;
  text-align: center;
  color: white;
}

.title_center{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: black;
  font-family: "Open Sans", "Helvetica", "sans-serif";
}

.banner .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.banner .btn:hover {
  background-color: black;
}
